.App {
  text-align: center;
  font-size:140%;
}

.Header {
	height:350px;
	background-image: url("./l2.jpg");
	background-size: 100% 100%;

}

.ThirdRow {
	
	padding: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.dateTitle {
	color:white;
	
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.textClass {
	
	min-width:200px;
	min-height:200px;
	color:red;
}

.navibar2 {
	background-color:black;
	color:white;
	margin-bottom:-25px;
	font-size:15px;
}

.brand2 {
	font-size:25px;
}


.social:hover {
     -webkit-transform: scale(0.6);
     -moz-transform:scale(0.6);
     -o-transform: scale(0.6);
 }
 .social {
     -webkit-transform: scale(0.6);
     /* Browser Variations: */
     
     -moz-transform: scale(0.6);
     -o-transform: scale(0.6);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }
 
 .footer {
	 margin-top:25px;
	 background-color:grey;
 }
 
 .tdclass {
	 background-color:black;
 }
 #cancelbtn {
	 background-color:brown;
	 color:white;
	 margin-top:2px;
 }
 
 #editbtn {
	 background-color:orange;
	 color:white;
	 margin-top:2px;
 }
 
 #deletebtn {
	 margin-top:2px;
	 background-color:red;
	 color:white;
	 
 }
 
 #savebtn {
	 margin-top:2px;
	 background-color:green;
	 color:white;
 }
 
 .NavHead {
	 background-color:grey;
 }
 
NavLink {
	 color:black;
 }
 
 .childComps {
	 background-color:white;
 }