.App {
  text-align: center;
  font-size:140%;
}

.Header {
	height:350px;
	background-image: url("./l2.jpg");
	background-size: 100% 100%;

}

.ThirdRow {
	
	padding: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.dateTitle {
	color:white;
	
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.textClass {
	
	min-width:200px;
	min-height:200px;
	color:red;
}

.navibar2 {
	background-color:black;
	color:white;
	margin-bottom:-25px;
	font-size:15px;
}

.brand2 {
	font-size:25px;
}
